{% extends 'customer/base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Our Store</h2>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">

                                <ul class="list-menu">
                                    {% for category in allcategory%}
                                    <li><a href="{% url 'customer:store' %}?query={{ category.id }}">{{ category.categoryname }} </a></li>
                                    {% endfor %}
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->

                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">32 Items found </span>

                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    {% for product in storeProducts %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <a href="{% url 'customer:product_detail' product.id %}">
                                    <img src="{{ product.image.url }}">
                                </a>
                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a href="{% url 'customer:product_detail' product.id %}" class="title">{{ product.product_name }}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price">{{ product.price }}</span>
                                        <!-- <del class="price-old">$1980</del -->
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <a href="#" class="btn btn-block btn-success">Added to cart </a>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}
                </div> <!-- row end.// -->


                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        {% if storeProducts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{storeProducts.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for num in storeProducts.paginator.page_range %}
                        {% if storeProducts.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if storeProducts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ storeProducts.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ storeProducts.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </main> 

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock %}