<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
       
        
        <a class="list-group-item" href="{% url 'ekart_admin:add_category' %}"> Add category </a>
        <a class="list-group-item" href="{% url 'ekart_admin:view_category' %}"> view Category </a>
        <a class="list-group-item" href="{% url 'ekart_admin:pending_sellers' %}"> Pending sellers </a>
        <a class="list-group-item" href="{% url 'ekart_admin:approved_sellers' %}"> Approved sellers </a>
        <a class="list-group-item" href="{% url 'ekart_admin:customers' %}"> Customers </a>
    </ul>
    <br>
    {% if request.session.admin %}
    <a class="btn btn-light btn-block" href="{% url "ekart_admin:admin_logout" %}"> <i class="fa fa-power-off"></i> <span class="text">Log
            out</span> </a>
    {% endif %}        
    <!--   SIDEBAR .//END   -->
</aside>